{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar en Marketplace</title>
    <link rel="stylesheet" href="{% static 'css/styleArticulo.css' %}">
</head>
<body>
    
    <div class="container">
        <h2>Publicar un artículo en Marketplace</h2>
        <form method="POST" enctype="multipart/form-data" id="product-form">
            {% csrf_token %}
            
            <div class="camposTexto">
                <label for="imagen">Subir imágenes (máx. 12)</label>
                <input type="file" id="imagen" name="imagen" multiple accept="image/*">
                
                
                <div class="preview-container" id="preview-container">
                    <!-- Aquí se mostrarán las previsualizaciones -->
                </div>

                <label for="titulo">Título del artículo</label>
                <input type="text" id="titulo" name="titulo" placeholder="Bolígrafo Negro Marca Sharpie" >

                <label for="marca">Marca</label>
                <input type="text" id="marca" name="marca" placeholder="Ejemplo: Samsung">

                <label for="marca">Descuento</label>
                <input type="text" id="descuento" name="descuento" placeholder="Deseas añadir un descuento especial?">

                <label for="dimensiones">Dimensiones</label>
                <input type="text" id="dimensiones" name="dimensiones" placeholder="Ejemplo: 30x20x15 cm">

                <label for="Stock">Stock</label>
                <input type="number" id="Stock" name="Stock" min="0"  
                placeholder="Ejemplo: 10" value="1">

                <label for="precio">Precio</label>
                <input type="text" id="precio" name="precio" placeholder="Agrega un precio, por ejemplo: 100.000" >

                <label for="categoria">Categoría</label>
                <select id="categoria" name="categoria" >
                    <option value="1">Muebles</option>
                    <option value="2">Electrónica</option>
                    <option value="3">Ropa y Accesorios</option>
                    <option value="4">Hogar y Jardín</option>
                </select>

                <label for="descripcion">Descripción</label>
                <textarea id="descripcion" name="descripcion" placeholder="Agrega una descripción detallada"></textarea>
            </div>

            <div class="button-group">
                <button type="submit" class="publish-btn">Publicar</button>
                <button type="button" class="cancel-btn" data-url="{% url 'index' %}">Cancelar</button>
            </div>
            
        
        </form>

        {% if messages %}
                <div id="message-container">
                    {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% elif message.tags == "error" %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% else %}
                            <div class="alert alert-info">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
    </div>
    
    <script>
        // Redirigir al índice después de mostrar el mensaje
        // Detectar si hay un mensaje de éxito
        const messageContainer = document.getElementById('message-container');
        if (messageContainer) {
            const successMessage = messageContainer.querySelector('.alert-success');
            if (successMessage) {
                // Redirigir al índice después de 3 segundos
                setTimeout(() => {
                    window.location.href = "{% url 'index' %}";
                }, 2000); // 3000 ms = 3 segundos
            }
        }
    </script>
    <script src="{% static 'js/vendedor.js' %}"></script>
</body>
</html>
