<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MerkaChecheres - Sobre Nosotros</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="sobre-nosotros">
      <!-- Header/Navigation -->
      
      <!-- Main Content -->
      <div class="div-2">
        <div class="overlap-group-wrapper">
          <div class="overlap-group-2">
            <div class="rectangulo"></div>
            <div class="text-wrapper-3">Sobre nosotros</div>
          </div>
        </div>
        
        <div class="container-about">
          <!-- Persona 1 -->
          <div class="persona">
            <img class="frame-3" src="/img/random.jpg" />
            <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            
            <div class="icon-box">
              <img class="img-2" src="/img/facebook.png" />
            </div>
            
            <div class="icon-indtagram-wrapper">
              <img class="img-2" src="/img/insta.png" />
            </div>
            
            <div class="icon-twitter-wrapper">
              <div class="img-wrapper">
                <img class="vector-4" src="/img/twitter.png" />
              </div>
            </div>
            
            <div class="button-text-wrapper">
              <div class="button-text-2">Saber mas</div>
            </div>
          </div>
          
          <!-- Persona 2 -->
          <div class="persona">
            <img class="frame-3" src="/img/niche.jpg" />
            <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            
            <div class="icon-box">
              <img class="img-2" src="/img/facebook.png" />
            </div>
            
            <div class="icon-indtagram-wrapper">
              <div class="img-wrapper">
                <img class="union" src="/img/insta.png" />
              </div>
            </div>
            
            <div class="icon-twitter-wrapper">
              <img class="img-2" src="/img/twitter.png" />
            </div>
            
            <div class="button-text-wrapper">
              <div class="button-text-2">Saber mas</div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Misión/Visión -->
      <div class="mision-vision">
        <div class="heading">
          <div class="overlap-group-3">
            <div class="rectangulo-2"></div>
            <div class="text-wrapper-4">MerkaChecheres</div>
          </div>
        </div>
        
        <div class="frame-4">
          <!-- Misión -->
          <div class="mision">
            <div class="heading-2">
              <div class="overlap-group-4">
                <div class="rectangulo-3"></div>
                <div class="text-wrapper-5">Mision</div>
              </div>
            </div>
            
            <div class="ser-la-plataforma-l-wrapper">
              <p class="ser-la-plataforma-l">
                Ser la plataforma líder que promueve un estilo de vida consciente y sostenible, facilitando la
                reutilización de productos a través de una comunidad que revitaliza artículos de segunda mano. Nuestro
                objetivo es contribuir a la reducción de residuos y al cuidado del medio ambiente.
              </p>
            </div>
          </div>
          
          <!-- Visión -->
          <div class="mision-2">
            <div class="heading-3">
              <div class="overlap-group-5">
                <div class="rectangulo-3"></div>
                <div class="text-wrapper-6">Vision</div>
              </div>
            </div>
            
            <div class="nuestra-misi-n-es-wrapper">
              <p class="nuestra-misi-n-es">
                Nuestra misión es empoderar a las personas para que compren y vendan productos de segunda mano de manera
                sencilla y segura. Al mismo tiempo, promovemos la sostenibilidad y el consumo responsable. A medida que
                construimos una comunidad comprometida con la economía circular y la preservación del planeta,
                trabajamos juntos para reducir nuestra huella ambiental.
              </p>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </body>
</html>